
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF66CC;
  transition: background 0.3s ease;
  font-family: 'Yellowtail', cursive;
  font-size: 24px;
}

.btn-flat:hover {
  background: #FF9DDE;
  color: white;
}
