<div class="container mt-3">
  <%= simple_form_for [@cocktail, @dose] do |f|%>
    <%= f.association :ingredient %>
    <%= f.input :description, placeholder: 'What is the dose?' %>
    <%= f.submit %>
  <% end %>
</div>

